#ignore folders with installations, installation TARs, as well as quicksave data
.ipynb_checkpoints/
.vscode/
ba3/
charmm/
CHARMM_TUTORIAL/
charmming_parser/
dowserplusplus/
hole2/
kb2plus_package/
mgltools_x86_64Linux2_1.5.7/
NAMD_Git-2021-09-21_Linux-x86_64-multicore-CUDA/
PF_prdh_2/
Pr_prdh/
vmd-1.9.3/

#exclude large filetypes like dcd trajectory files
*.dcd

#exclude folders of heating types
#Constraint-Relaxation/
#Velocity-Rescaling/

#exclude key files for working github connection and git history
.gitignore
key_github
key_github.pub
